.bg-color1{
    background-color: rgb(202, 29, 73);
}

.left{
    position:absolute;
    left: 97px;
    width:300px;
}

.left2{
    position:absolute;
    left: 560px;
    width: 300px;
}

table {
    border-collapse: collapse;
}

#img1{
    height: 100px;
    width: 200px;

}